// Colores
$color-black: #000000;
$color-green: #4caf50;
$color-red: #f44336;
$color-lightgreen: #45a049;
$color-lightgray: #f2f2f200;
$color-lightblue: #aeffe4;

$font-size-2rem: 2rem;
$font-size-3rem: 3rem;
$font-weight-600: 600;
$font-weight-900: 900;

// Mixin
@mixin center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Mixin
@mixin button-style {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
